<!-- start blog-area -->
<section class="blog-area section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-12">
        <div class="section-title">
          <h2>{{ section.settings.section_title }}</h2>
          <p>{{ section.settings.section_description }}</p>
        </div>
      </div>
    </div>
    <div class="blog-items">
      <div class="blog-active owl-carousel">
        {%- for article in blog.articles -%}
          <div class="blog-item wow fadeInUp" data-wow-duration="1000ms">
            <div class="blog-img-left">
              <div class="blog-img">
                <img
                  src="{{ 'img-1.jpg' |  asset_url }}"
                  width="100%"
                  height="100%"
                  alt="">
              </div>
            </div>
            <div class="blog-content">
              <h2>
                <span>30<small>Mar</small>
                </span>
                Questions To Ask Yourself Before Renting Or                                                                      
                                    Buying..</h2>
              <p>Trade shows made its place long back while creating a platform to generate business                                                                      
                                    and build professional networks at an international level. Now exhibiting in trade
                                    shows is the key..</p>
              <a href="blog-single.html" class="read-more">Learn More</a>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
<!-- end container -->
</section>
<!-- end blog-area -->


{% schema %}
  {
    "name": "Blog Section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Latest Blogs"
      },
      {
        "type": "text",
        "id": "section_description",
        "label": "Section Description",
        "default": "Our latest Blogs/News"
      }
    ],
    "presets": [
      {
        "name": "Blog Section"
      }
    ]
  }
{% endschema %}