<section class="breadcrumbs-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="breadcrumbs-left">
          <h2>{{ section.settings.section_title }}</h2>
        </div>
      </div>
      <div class="col-lg-7 offset-lg-1">
        <div class="breadcrumbs-right">
          <p>{{ section.settings.section_description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Breadcrumbs Section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Custom Solutions For Every Process"
      },
      {
        "type": "text",
        "id": "section_description",
        "label": "Section Description",
        "default": "In the 20 Years of experience in Exhibition Stall Design and Installation field. Know we are own startup and offering you Exclusive Range of Exhibition Stall and Stand Design in India, Poland, Germany and Europe. We have built our business by taking the time to understand our clients objectives and creating a stand out solution in line with brand & budget. We pride ourselves in providing a totally project-managed service, from start to finish. Our on-site team are able to install your unique stand before the show, ensuring that it achieves maximum impact and captivates your target market."
      }
    ],
    "presets": [
      {
        "name": "Breadcrumbs Section"
      }
    ]
  }
{% endschema %}