<!-- start contact-area -->
<section class="contact-area section-padding pt-0">
  <div class="container">
    <div class="contact-items">
      <div class="row">
        <div class="col-lg-4 col-12 col-12">
          <div class="contact-title">
            <h2>Do you have                                                           
                                    a project? Lets Talk.</h2>
            <p>Please fill in the details and we will be in                                                           
                                    touch shortly or send us email @:</p>
            <span>sales@finishsense.io</span>
          </div>
        </div>
        <div class="col col-lg-8 col-md-12 col-12">
          <div class="contact-form-area">
            <h3>Complete the form below...</h3>
            <form
              method="post"
              class="contact-validation-active"
              id="contact-form-mejor"
              novalidate="novalidate">
              <div class="row">
                <div class="col-md-6 col-12 form-field">
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    placeholder="Full Name"
                    autocomplete="name">
                </div>
                <div class="col-md-6 col-12 form-field">
                  <input
                    type="text"
                    class="form-control"
                    name="cname"
                    id="cname"
                    placeholder="Your Company Name"
                    autocomplete="name">
                </div>
                <div class="col-md-6 col-12 form-field">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Business email">
                </div>
                <div class="col-md-6 col-12 form-field">
                  <input
                    type="text"
                    class="form-control"
                    name="phone"
                    id="phone"
                    placeholder="Phone Number">
                </div>
                <div class="col-md-6 col-12 form-field">
                  <select name="subject" class="form-control">
                    <option disabled="disabled" selected="">Select your Country</option>
                    <option>web design</option>
                    <option>Development</option>
                    <option>UX/UI</option>
                  </select>
                </div>
                <div class="col-md-6 col-12 form-field">
                  <input
                    type="text"
                    class="form-control"
                    name="service"
                    id="service"
                    placeholder="What service are you Interested in?">
                </div>
                <div class="col-md-12 col-12 form-field">
                  <textarea
                    class="form-control"
                    name="note"
                    id="note"
                    placeholder="Message here.."></textarea>
                </div>
                <div class="col-md-12 col-12">
                  <div class="submit-area">
                    <button type="submit" class="theme-btn">
                      <span>Send a                                                           
                                                        request</span>
                    </button>
                    <div id="loader">
                      <i class="ti-reload"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix error-handling-messages">
                <div id="success">Thank you! Massage Sended</div>
                <div id="error">
                  Error occurred while sending email. Please try again                                                           
                                            later.
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- end container -->
</section>
<!-- end contact-area -->