<!-- start of wpo-site-footer-section -->
<footer class="wpo-site-footer">
  <div class="wpo-upper-footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="widget about-widget">
            <div class="logo widget-title">
              <a class="logo" href="index.html"><img
                  src="{{ 'footer-logo.png' |  asset_url}}"
                  width="100%"
                  height="100%"
                  alt=""></a>
            </div>
          </div>
        </div>
        <div class="col col-lg-4 offset-lg-2 col-md-6 col-sm-12 col-12">
          <div class="widget wpo-service-link-widget">
            <div class="widget-title">
              <h3>USA
              </h3>
            </div>
            <div class="contact-ft">
              <ul>
                <li>
                  <i class="ti-location-pin"></i>1309 Tanager Ave, <br>
                  Ocheyedan, IA 51354 (USA)</li>
                <li>
                  <i class="ti-mobile"></i>+1 712 720 0166</li>
                <li>
                  <i class="ti-email"></i>sales@finishsense.io</li>
              </ul>
            </div>
          </div>
          <div class="widget wpo-service-link-widget mt-5">
            <div class="widget-title">
              <h3>CANADA
              </h3>
            </div>
            <div class="contact-ft">
              <ul>
                <li>
                  <i class="ti-location-pin"></i>2085 - 1 Whittington Dr. <br>
                  Peterborough, Ontario - K9J 0G5 (Canada)</li>
                <li>
                  <i class="ti-mobile"></i>+1 705 876 9808</li>
                <li>
                  <i class="ti-email"></i>engineering@finishsense.io</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- end container -->
  </div>
  <div class="wpo-lower-footer">
    <div class="container">
      <div class="row">
        <div class="col col-lg-8 col-md-8 col-12">
          <ul>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Copyright Policy</a></li>
          </ul>
        </div>
        <div class="col col-lg-4 col-md-4 col-12">
          <ul class="social">
            <li>
              <a href="#">
                <i class="ti-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="ti-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#"><img
                  src="{{  'youtube.png' |  asset_url}}"
                  width="100%"
                  height="100%"
                  alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-shape">
    <img
      src="{{ 'footer-shape.png' |  asset_url}}"
      width="100%"
      height="100%"
      alt="">
  </div>
</footer>
<!-- end of wpo-site-footer-section -->