<div class="how-work-section p-100">
  <div class="work-left-section">
    <div class="work-left-image">
      <img
        src="{{ "work1.png" | asset_url }}"
        alt=""
        width=""
        height="">
      <div class="count-experience">
        <h2>25+</h2>
        <p>Years of Experience</p>
      </div>
    </div>
  </div>
  <div class="work-right-content">
    <span>HOW WE WORK</span>
    <h2>Bringing Out the Potential in You</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
    </p>
    <div class="work-process">
      <span>01</span>
      <h3>Apply for the Jobs</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
      </p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "How We Work Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image"
      },
      {
        "type": "text",
        "id": "expericent_time",
        "label": "Experience Time",
        "default": "25+"
      },
      {
        "type": "text",
        "id": "expericent_text",
        "label": "Experience Text",
        "default": "Year of Experience"
      },
      {
        "type": "text",
        "id": "how_we_work_slug",
        "label": "How We Work",
        "default": "HOW WE WORK"
      },
      {
        "type": "text",
        "id": "how_we_work_title",
        "label": "Title",
        "default": "Bringing Out the Potential in You"
      },
      {
        "type": "text",
        "id": "how_we_work_content",
        "label": "Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis."
      }
    ],
    "blocks": [
      {
        "name": "Add Process",
        "type": "block",
        "settings": [
          {
            "type": "text",
            "id": "process_number",
            "label": "Process Number",
            "default": "01"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Apply for the Jobs"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Content",
            "default": "Integer pharetra lectus eget dui porttitor mattis. Etiam ut ante vestibulum nisl hendrerit gravida."
          }

        ]
      }
    ],
    "presets": [
      {
        "name": "How We Work Section",
        "blocks": [
          {
            "type": "block"
          }
        ]
      }
    ]
  }
{% endschema %}