<div class="resources-section">
  <div class="fileNav">
    <div class="fileNav__item">
      <a href="/resources" class="fileNav__link">All Resources</a>
    </div>
    <div class="fileNav__item">
      <a href="/resources/whitepapers" class="fileNav__link">Whitepapers</a>
    </div>
    <div class="fileNav__item">
      <a href="/resources/case-studies" class="fileNav__link">Case Studies</a>
    </div>
    <div class="fileNav__item">
      <a href="/resources/webinars" class="fileNav__link">Webinars</a>
    </div>
    <div class="fileNav__item">
      <a href="/resources/videos" class="fileNav__link">Videos</a>
    </div>
    <div class="fileNav__item">
      <a href="/resources/infographics" class="fileNav__link">Infographics</a>
    </div>
    <div class="fileNav__item">
      <a href="/resources/whitepapers" class="fileNav__link">Datasheets</a>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Resources Section",
    "settings": [],
    "presets": [
      {
        "name": "Resources Section"
      }
    ]
  }
{% endschema %}