<div class="resorce-area section-padding p-50">
  <div class="container">
    <div class="resorce-details mt-3">
      <div class="row">
        <div class="col-12">
          <div class="top-title">
            <h3>{{ section.settings.title }}</h3>
          </div>
        </div>
      </div>
      <div class="table-wrap">
        <div class="main-table">
          <ul class="heading">
            <li>FOLDER</li>
            <li>REVISION</li>
            <li>DOWNLOAD</li>
          </ul>

          <div id="folderContainer"></div>

        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Resources Manager",
    "settings": [

      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Resources"
      }
    ],
    "presets": [
      {
        "name": "Resources Manager"
      }
    ]
  }
{% endschema %}