<div class="resorce-area p-50" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
  <div class="
  container">
    <div class="resorce-details mt-3">
      <div class="row">
        <div class="col-12">
          <div class="top-title">
            <h3>{{ section.settings.title }}</h3>
          </div>
        </div>
      </div>
      <div class="table-wrap">
        <div class="main-table">
          <ul class="heading">
            <li>FOLDER</li>
            <li>REVISION</li>
            <li>DOWNLOAD</li>
          </ul>

          <div id="folderContainer"></div>

        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Resources Manager",
    "settings": [

      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Resources"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top",
        "default": 50,
        "min": 0,
        "max": 200,
        "step": 5
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "default": 50,
        "min": 0,
        "max": 200,
        "step": 5
      }
    ],
    "presets": [
      {
        "name": "Resources Manager"
      }
    ]
  }
{% endschema %}