.slide.slick-slide.slick-current.slick-active:before {
  width: 100%;
  height: 100%;
  background: black;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: 0;
}
.site-logo img {
  width: 200px !important;
}
.testimonial-thumbnil-img img {
  width: 300px;
}
.testimonial-thumbnil-active .item.slick-slide {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.p-100 {
  padding: 100px 0px 0px 0px;
}
.pb-100 {
  padding-bottom: 100px;
}
.blog-author {
  display: flex;
  align-items: center;
  gap: 15px;
}
.author-img img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.author-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.blog-content {
  padding: 40px 0px 0px 0px;
}
.blog-content p {
  color: #707070;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 30px;
}
.blog-content img {
  width: 100%;
  margin-bottom: 30px;
}
.blog-content h2 {
  font-size: 26px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 20px;
}
.blog-content h3 {
  font-size: 22px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 20px;
}
.blog-content h4 {
  font-size: 20px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 20px;
}
.blog-content h5 {
  font-size: 18px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 20px;
}
.blog-content h6 {
  font-size: 16px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 20px;
}
.blog-content ul {
  padding-left: 20px;
}
.blog-content ul li {
  color: #707070;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 10px;
}
.blog-content ol {
  padding-left: 20px;
}
.blog-content ol li {
  color: #707070;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 10px;
}
.blog-content blockquote {
  background: #f9f9f9;
  border-left: 10px solid #3693d9;
  /* margin: 1.5em 10px; */
  padding: 20px 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
.blog-content blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blog-content blockquote p {
  display: inline;
}
.blog-content blockquote cite {
  color: #707070;
  font-size: 16px;
  margin-top: 10px;
}
.blog-content blockquote cite:before {
  content: '-';
}
.blog-content .blog-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.blog-meta .blog-author {
  display: flex;
  align-items: center;
  gap: 15px;
}
.blog-hero-section img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.how-work-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.work-left-image {
  position: relative;
}
.count-experience {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3693d9;
  width: 173px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.count-experience h2 {
  font-size: 42px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}
.count-experience p {
  font-size: 17px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}
.work-right-content span {
  font-size: 22px;
  font-weight: 300;
  color: #707070;
}
.work-right-content h2 {
  font-size: 42px;
  font-weight: 600;
  color: #111111;
  margin: 25px 0px;
}
.work-left-image {
  padding: 35px;
}
.content {
  color: #707070;
  line-height: 1.8em;
  font-size: 17px;
}
.process-item span {
  height: 45px;
  width: 45px;
  background: #3693d9;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
}
.process-item {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 25px;
}
.process-content h3 {
  font-size: 17px;
  font-weight: 600;
}
.work-process {
  margin-top: 50px;
}
.process-item:last-child {
  margin-bottom: 0;
}
.work-left-image img {
  width: 100%;
}
.what-we-do-item {
  background: #3693d9;
  padding: 30px;
  transition: 0.5s;
  margin-bottom: 10px;
}
.what-we-do-item:hover {
  background: #111111;
  cursor: pointer;
  transition: 0.5s;
}
.what-we-do-item h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}
.what-we-do-item p {
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
}
.what-we-do-image img {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 20px;
}
.faq-section {
  margin-top: 50px;
  background: #3693d9;
}
.faq-content span {
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 20px;
  display: block;
}
.faq-content h2 {
  color: #ffffff;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}
.faq-content p {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 25px;
  display: block;
}
.faq-content a {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
}
.faq-section .accordion-button:not(.collapsed),
.faq-section button.accordion-button.collapsed {
  color: #111111;
  background-color: #fff;
  font-size: 17px;
  font-weight: 500;
  height: 70px;
  box-shadow: none;
}
.faq-section .accordion-body {
  font-size: 17px;
  font-weight: 300;
  color: #111111;
}
.faq-section .accordion-item {
  margin-bottom: 1px;
  border-radius: 0px;
}
.faq-section .accordion-button:focus {
  z-index: 3;
  border-color: #fff;
  outline: none;
  box-shadow: none;
}
.checkIcon {
  height: 40px;
  width: 40px;
  background: #3693d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.checkIcon .ti-check {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-right-row {
  background: #111111;
}
.baner-content {
  display: flex;
  flex-direction: column;
  padding: 100px;
  justify-content: center;
}
.no-space {
  margin-bottom: 0 !important;
  padding: 0 !important;
}
.baner-content h2 {
  color: #ffffff;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}
.baner-content p {
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 30px;
}
.baner-content a {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
}
a.read-more.linkBlack {
  color: #111111;
  font-size: 17px;
  font-weight: 400;
}
a.read-more.linkBlack:hover {
  color: #3693d9;
}
.banner-right-row img {
  width: 300px;
  margin-bottom: 20px;
}
.image-content {
  padding: 80px;
}
.image-with-text .row {
  margin-bottom: 70px;
}
.title-black {
  color: #111111;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}
.title-white {
  color: #ffffff;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}
.content-black {
  color: #111111;
  font-size: 17px;
  font-weight: 300;
}
.content-white {
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
}
.imageBoxText {
  padding: 20px 0px;
}
.rowOrder {
  order: 1 !important;
}
section.static-hero:before {
  content: '';
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  opacity: 0.3;
  z-index: 1;
}
video#myVideo::before {
  content: '';
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  opacity: 0.5;
  z-index: 2;
}
.static-hero .static-hero-text {
  z-index: 2;
  position: relative;
}
video#myVideo {
  width: 100%;
  position: absolute;
}
@media only screen and (max-width: 800px) {
  .p-100 {
    padding: 60px 0px;
  }
  .section-title h2,
  .section-title-s2 .blog-title {
    line-height: 30px;
  }
  .work-left-image {
    padding: 0;
  }
  .work-right-content {
    margin-top: 50px;
  }
  .faq-wrap {
    margin-top: 50px;
  }
  .title-black {
    font-size: 30px;
  }
  .title-white {
    font-size: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .baner-content {
    padding: 50px 15px;
  }
  .baner-content h2 {
    font-size: 25px;
  }
  .image-content {
    padding: 15px;
  }
  .rowOrder {
    order: inherit !important;
  }
  .image-with-text .row {
    margin-bottom: 0px;
  }
  .image-content {
    padding: 40px 15px;
  }
  .testimonial-thumbnil-img img {
    width: 156px;
    object-fit: contain;
    height: 100px;
    margin-top: 30px;
  }
}
